<h1>Articulos#new</h1>
<p>Find me in app/views/articulos/new.html.erb</p>

<!--Por un lador, el helper form_for y seguida la variable de instancia para la que queremos el form-->
<%= render 'form' %>
